<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/RiskSituationDetection" version="1.0.0" viewmodes="maximized">
    <tizen:application id="A0VibjFDqQ.RiskSituationDetection" package="A0VibjFDqQ" required_version="4.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>RiskSituationDetection</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <feature name="http://tizen.org/feature/location.gps"/>
    
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
	<tizen:privilege name="http://tizen.org/privilege/bluetooth"/>

    <tizen:profile name="wearable"/>
</widget>
